<h2 class="title">ユーザ情報編集</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control" %>
  </div>
  
  <div class="field">
    <%= f.label :nick_name %><br />
    <%= f.text_field :nick_name, autofocus: true, autocomplete: "nick_name",class:"form-control" %>
  </div>
  
  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(変更しない場合、空白のまま更新してください。)</i><br />
    <%= f.password_field :password, autocomplete: "new-password",class:"form-control" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><em>(<%= @minimum_password_length %>文字以上)</em>
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class:"form-control" %>
  </div>

  <div class="field">
    <i><span class = "text-danger">(必須)</span></i><%= f.label :current_password %> <br />
    <%= f.password_field :current_password, autocomplete: "current-password",class:"form-control" %>
  </div>
  
  <div class="field">
        <%= f.label :new_avatar %>
        <br>
        <%= f.file_field :new_avatar, class: "dropzone" %>
        <%= image_tag @user.avatar, size:"150x150", class:"avatar" if @user.avatar.attached? %>
        <%#= link_to "画像を削除する",delete_avatar_user_path, data: { confirm: '本当に画像を削除しますか？' }, method: :delete, class: "btn btn-outline-danger float-right mt-2" if @user.avatar.attached? %>
  </div>  
  
  <div class="actions">
    <%= f.submit "更新", class:"form-control  btn btn-outline-primary mt-2" %>
  </div>
<% end %>
<hr class="my-5">
<h3 class="title">アカウント削除</h3>

<p><%= button_to "削除", registration_path(resource_name)\
  , data: { confirm: "本当に削除しますか？" }, method: :delete\
  , class:"form-control  btn btn-outline-danger mt-2" %></p>
