<div class="container">
  <h2>ログイン</h2>
    <div class="text-info">
      <p>テスト用一般アカウント</p>
      <p>email : test@example.com</p>
      <p>password : 000000</p>
    </div>
    
    <div class="text-danger">
      <p>テスト用管理者アカウント</p>
      <p>email : admin@example.com</p>
      <p>password : 000000</p>
    </div>
    
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>
  
    <div class="form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>
  
    <div class="form-group">
      <!--<%= f.check_box :remember_me, class: "form-control input-lg"%>-->
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>
  
  <%= render "devise/shared/links" %>
</div>
